# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Variables de entorno
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos compilados / build
dist/
build/
out/

# Caché
.npm
.cache/